@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Book.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-BookOblique.ttf');
  font-weight: normal;
  font-style: italic;
}

